extends layout
block content
    h1 Отправка пакета данных
    div
        form.bg-dark
            div(class="form-row")
                div(class="form-group col-md-4")
                    input(type="text" class="form-control" id="login"  value="1")
                    label(for="login" class="label") Логин модуля
                div(class="form-group col-md-4")
                    input(type="text" class="form-control" id="password"  value="1")
                    label(for="password") Пароль модуля
                div(class="form-group col-md-4")
                    input(type="button" class="btn btn-primary" id="LoginButton"  value="Авторизироваться")
    h1 Отправка пакета данных
    div.bg-dark
        form
            div(class="form-row")
                div(class="form-group col")
                    label(for="Temperature" class="label") Температура
                    input(type="text" class="form-control" id="Temperature"  value="")
                div(class="form-group col")
                    label(for="visits" class="label") Число посещений
                    input(type="number" class="form-control" id="visits"  value="")
            div(class="form-row")
                div.col-1
                div.col
                    div(class="form-check")
                        input(type="checkbox" class="form-check-input" name="BelowWaterLevel" id="BelowWaterLevel"  value="")
                        label(for="BelowWaterLevel" class="form-check-label h3") Датчик наличия чистой воды
                    div(class="form-check")
                        input(type="checkbox" class="form-check-input" name="UpperWaterLevel" id="UpperWaterLevel"  value="")
                        label(for="UpperWaterLevel" class="form-check-label h3") Датчик наполнения серой воды
                    div(class="form-check")
                        input(type="checkbox" class="form-check-input" name="IsBusy" id="IsBusy"  value="")
                        label(for="IsBusy" class="form-check-label h3") Занято
                    div(class="form-check")
                        input(type="checkbox" class="form-check-input" name="IsWorking" id="IsWorking"  value="")
                        label(for="IsWorking" class="form-check-label h3") Разрешено ли обслуживание
                    div(align='right')
                        input(type="button" class="btn btn-primary" id="SendDataButton"  value="Отправить данные датчиков" align='center')
    h1 Отправка данных об обслуживаниях
    div.row
        div.col
            form.bg-dark.fluid
                div(class="form-row")
                    div(class="form-group col")
                        input(type="number" class="form-control" id="user_id"  value="")
                        label(for="user_id" class="label") ID пользователя
                    div(class="form-group col")
                        input(type="text" class="form-control" id="type"  value="")
                        label(for="type" class="label") Тип обслуживания
                div(class="form-row")
                    div(class="form-group col")
                        input(type="text" class="form-control" id="message"  value="")
                        label(for="message" class="label") Дополнительная информация
                    div(align='right')
                        input(type="button" class="btn btn-primary" id="SendServiceButton"  value="Отправка данных обслуживания")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js')
    script(src='http://code.jquery.com/jquery-latest.min.js')
    script
        |$(#{functions})
