extends layout
block content
    if logged
        button(onclick="window.location.href = '/quit';")  Выйти
    else
        button(onclick="window.location.href = '/login';")  Логин
    div.container
        div.row
            div.col
                table(class="table table-dark")
                    thead
                        tr
                            th(scope='col') #
                            th(scope='col') №Модуля
                            th(scope='col') Состояние
                            th(scope='col') Связь
                            th(scope='col') Адрес
                    tbody
                        th(scope="row") 1
