body {
  padding: 50px;
  font-size: 45px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(/bg_image.jpg);
}
label {
  font-size: large;
}
a {
  color: #00B7FF;
  font-size: large;
}
