body {
  padding: 50px;
  background-image: url(/bg_image.jpg);
  font-size: 20px;
  color: aliceblue;
}
label {
  color: aliceblue;
}
dTable{
  color: aliceblue;
}
form{
  padding: 25px;
}
hr {
  border: 0;
  height: 3px;
  background: #fff;
}
.scrollList {
  height:150px;
  overflow-y: scroll;
}
a {
  color: aliceblue;
}
Padd{
  padding-top: 120px;
  padding-bottom: 120px;
}
InpButton{
  clear:both;
  text-align:right;
}
alignIt{
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  color: darkgrey;
}
